modules = ["web", "nodejs-20", "bash", "python-3.11", "postgresql-16"]
run = "node index.js"

[nix]
channel = "stable-25_05"
packages = ["cacert", "glibcLocales", "nano", "openssl", "postgresql", "sqlite"]

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bots"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[[workflows.workflow]]
name = "Telegram Bots"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run bots"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
integrations = ["python_log_in_with_replit:1.0.0", "flask_stripe:1.0.0", "python_database:1.0.0"]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[userenv]

[userenv.shared]
FLASK_ENV = "production"
FLASK_DEBUG = "false"
UPLOAD_FOLDER = "static/uploads"
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_o6EwDcRLMig5@ep-tiny-field-aqocs6iz.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require"
PORT = "5000"
